* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: olivedrab;
    margin: 0px;
    padding: 0px;
}
.first{
    text-align: center;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 2px 4px;
    margin: 50px;
}
.selfimg {
    width: 150px;
    height: auto;
    padding: 0px;
    border: 2px solid rgb(0, 0, 0);
    background-origin: padding-box;
    margin-bottom: 10px;
}
#flick{
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 5px 5px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.Video {
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 5px 5px;
    margin: 50px;
}
.Text02 {
    margin: 10px;
}
li{
    padding-bottom: 15px;
}
.Text01 {
    margin-left: 40px;
    margin-bottom: 25px;
}
.header1 {
    text-align: center;
}
.VDO {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0px;
}
.second{
    width: 100%;
    background-color: olivedrab;
    margin: 0%;
    padding-bottom: 0px;
    border: 2px solid rgb(48, 33, 2);
    border-left: 1px solid rgb(48, 33, 2);
}
.second1{
    background-color: olive;
    float: left;
    width: 15%;
    height: 600px;
    border-right: 2px solid rgb(48, 33, 2);
    border-left: 1px solid rgb(48, 33, 2);
}
.second2{
    float: right;
    width: 84.7%;
    height: 600px;
    background-color: beige;
}
.Text021{
    margin: 0px;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: cursive;
}
.P1{
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(211, 211, 171);
    border: 1px solid ;
}
.P2{
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(211, 211, 171);
    border: 1px solid ;
}
.P3{
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(211, 211, 171);
    border: 1px solid ;
}
.P4{
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(211, 211, 171);
    border: 1px solid ;
}
.P11{
    margin: 0;
    padding: 5px;
    padding-top: 25px;
    padding-left: 40px;
}
.P21{
    margin: 0;
    padding: 5px;
    padding-top: 50px;
    padding-left: 40px;
}
.P31{
    margin: 0;
    padding: 5px;
    padding-top: 40px;
    padding-left: 40px;
}
.P41{
    margin: 0;
    padding: 5px;
    padding-top: 40px;
    padding-left: 40px;
}
nav {
    margin-top: 10px;
    margin: 20px;
}

nav a {
    color: #f3fff0; 
    text-decoration: none;
    margin: 0 15px;
    font-size: 10px;
    float: right;
}
nav a:hover {
    text-decoration: underline;
}
.OR{
    margin-left: 20px;
}
.warp{
    padding-bottom: 1px;
}
.welcoe{
    float: left;
}
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: 'Itim';
}
.Text031{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Itim';
}
.Finish{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
}